:root {
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --primary-white-color: #ffffff;
  --secondary-white-color: #f4f4fd;
  --accent-color: #4d5ae5;
  --accent-hover-color: #404bbf;
  --border-btn-color: #e7e9fc;
}
body {
  color: var(--secondary-text-color);
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
}
/* колір основного тексту #2E2F42 */
/* колір меншого тексту #434455 */
/* білий колір #FFFFFF */
/* синій з вебстудіо і тексту кнопок фільтру #4D5AE5 */
/* фон кнопок фільтру при наведенні #404BBF */
/* фон кнопок фільтру без наведення і текст футера #F4F4FD */

/* Логотипи */
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-primary {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  
}
.logo-footer {
  color: var(--secondary-white-color);
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
}
.link {
  text-decoration: none;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
/* Хедер */
.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}

/* site nav */
.main-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  gap: 40px;
}

.site-nav a {
  display: block;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-hover-color);
}

/* contacts */
.address-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 40px;
}

address a {
  display: flex;
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
}
.address {
  font-style: normal;
  margin: auto;
}

.address .link:hover,
.address .link:focus {
  color: var(--accent-hover-color);
}
/* Герой */
.hero-title {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}
.hero {
  background-color: var(--primary-text-color);
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
}

.page-footer {
  background-color: var(--primary-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
/* Секції */
.section {
  padding-top: 120px;
}
.section-title {
  margin-top: 0;
  margin-bottom: 72px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.section-name {
  margin-top: 0;
  margin-bottom: 8px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.section-description {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0;
}
.centre {
  text-align: center;
}
.section-list {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.section-team {
  background-color: var(--secondary-white-color);
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-workers {
  background-color: #ffffff;
}
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.list-portfolio {
  padding: 0;
  margin: 0;
  padding-top: 47px;
  list-style: none;
}
/* Футер */
.footer-description {
  color: var(--secondary-white-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
/* Кнопки */
button {
  color: var(--primary-white-color);
  background-color: var(--primary-text-color);
}
.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  text-align: center;
  border: 1px solid transparent;
}
.button.primary:hover,
.button.primary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-hover-color);
}
.button.secondary {
  display: inline-block;
  color: var(--accent-color);
  background-color: var(--secondary-white-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 12px 24px;
  border: 1px solid var(--border-btn-color);
}
.button.secondary:hover,
.button.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-hover-color);
}
.pointer {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
 
}

img {
  display: block;
}