:root {
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --primary-white-color: #ffffff;
  --secondary-white-color: #f4f4fd;
  --accent-color: #4d5ae5;
  --accent-hover-color: #404bbf;
}
body {
  color: var(--secondary-text-color);
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
}
/* колір основного тексту #2E2F42 */
/* колір меншого тексту #434455 */
/* білий колір #FFFFFF */
/* синій з вебстудіо і тексту кнопок фільтру #4D5AE5 */
/* фон кнопок фільтру при наведенні #404BBF */
/* фон кнопок фільтру без наведення і текст футера #F4F4FD */

/* Логотипи */
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
}
.logo-primary {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
}
.logo-footer {
  color: var(--secondary-white-color);
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

/* site nav */
.site-nav a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-hover-color);
}

/* contacts */
.address a {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.address .link:hover,
.address .link:focus {
  color: var(--accent-hover-color);
}
/* Герой */
.hero-title {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.hero,
.page-footer {
  background-color: var(--primary-text-color);
}
/* Секції */
.section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.section-name {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.section-description {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.centre {
  text-align: center;
}
.section-list {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.section-team {
  background-color: var(--secondary-white-color);
}
.section-workers {
  background-color: #ffffff;
}
/* Футер */
.footer-description {
  color: var(--secondary-white-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
/* Кнопки */
button {
  color: var(--primary-white-color);
  background-color: var(--primary-text-color);
}
.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
}
.button.primary:hover,
.button.primary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-hover-color);
}
.button.secondary {
  color: var(--accent-color);
  background-color: var(--secondary-white-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
}
.button.secondary:hover,
.button.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-hover-color);
}
.pointer {
  cursor: pointer;
}
